body{
	background-color: darkslategray;	
}
.tab {
   margin-top: 140px; 
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: #ffffff;
    padding: 22px 16px;
    width: 100%;
    border: 0;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: red;
    color: white;
}

/* Create an active/current "tab button" class */
.tab .active {
    background-color: red;
}